altair==4.2.0
matplotlib @ file:///C:/ci/matplotlib-suite_1647423638658/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
pandas @ file:///C:/ci/pandas_1650373458095/work
streamlit==1.12.2
yfinance==0.1.74